body {
    height: 100vh;
    background-color: rgb(34, 36, 42);
    padding: 40px 15px 15px 15px;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.outline {
    display: grid;
    height: 100%;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    justify-content: center;
    align-content: center;
}

.outline div {
    width: 150px;
    height: auto;
    border: rgb(27, 30, 34) 7px solid;
}

#_1,
#_2,
#_3 {
    border-top: rgb(27, 30, 34) 14px solid;
}

#_7,
#_8,
#_9 {
    border-bottom: rgb(27, 30, 34) 14px solid;
}

#_1,
#_4,
#_7 {
    border-left: rgb(27, 30, 34) 14px solid;
}

#_3,
#_6,
#_9 {
    border-right: rgb(27, 30, 34) 14px solid;
}

.x {
    font-size: 100px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgb(34, 36, 42);
}

.o {
    font-size: 100px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(23, 115, 255);
    background-color: rgb(34, 36, 42);
    ;
}

p {
    font-weight: 700;
    font-size: xx-large;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
}

.x-team {
    color: rgb(255, 255, 255);
    text-align: center;
}

.o-team {
    color: rgb(23, 115, 255);
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 42px;
    text-align: center;
}

hr {
    height: 5px;
    background-color: rgb(255, 255, 255)
}